.center-contents {
  width: 50%;
  padding: 0px 20px;
}

.nav-buttons {
  font-size: 13px;
  line-height: 1.4;
  min-height: 36px;
  min-width: 36px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.nav-buttons:hover {
  background-color: #DEDEDE;
  cursor: pointer;
}

.nav-buttons:not(:first-child) {
  /*margin-left: 10px;*/
}

.nav-buttons-bkng:not(:first-child) {
  margin-left: 10px;
}

.main-frame {
  margin: 10px 0px;
  display: flex;
  flex-wrap: wrap;
}

.pull-down {
  margin-top: 10px;
}

.button_panel {
  float: right;
}

.card-btn {
  transition: all 0.3s ease 0s;
}

.card-title {
  max-width: 80%;
}

.card-btn:hover {
  color: #fff;
  cursor: pointer;
  transform: translateY(-2px);
}

.card-btn:not(:first-child) {
  margin-left: 10px;
}


.login-form, .login-form-shadow {
  left: 65%;
  top: 35%;
  margin-left: -25%;
  position: absolute;
  padding: 20px;
  /*margin-top: 25%;*/
}

.login-form-shadow {
  background-color: white;
  height: 280px;
  padding: 20px;
  border-radius: 5px;
  width: 348px;
  opacity: 0.8;
}

.register-form, .register-form-shadow {
  left: 65%;
  top: 35%;
  margin-left: -25%;
  position: absolute;
  padding: 20px;
  width: 350px;
  /*margin-top: 25%;*/
}

.register-form-shadow {
  background-color: white;
  height: 370px;
  padding: 20px;
  border-radius: 5px;
  width: 348px;
  opacity: 0.8;
}

.login-panel > .btn {
  float: right;
  position: absolute;
  left: 40%;
  margin-top: 10px;
}

.product-card {
  border:  none !important;
}

.product-card:hover {
  /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);*/
  box-shadow: 0 2px 18px rgb(34 34 34 / 20%);
  background: #FFFFFF;
  border: 1px dotted transparent;
  transform: scale(0.96);
  transition: transform 200ms cubic-bezier(0.345, 0.115, 0.135, 1.42),opacity 150ms ease-out,border-color 200ms ease-out;
}

.edit_icon {
  margin-left: 5px;
  color:  #0070BA;
  cursor: pointer;
}

.btn_panel {
  margin-top: 10px;
  float: right;
}

.btn_panel > .btn:not(:first-child) {
  margin-left: 10px;
}

.cart-item {
  text-align: center;
  margin: 10px 0px;
}

.cart-item.heading {
  font-weight: bold;
}

.page-footer {
  background-color: #F1F1F1;
  /*position: fixed;*/
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 70px;
  line-height: 37px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.custom_toast {
  position: absolute;
  right: 5px;
  z-index: 10;
  bottom: 10px;
}

.order_item {
  margin: 10px 0px;
}

.order_item > .list-group-item > .order_id {
  float: right;
}

.order_item_heading {
  background-color: #fafafa !important;
  font-weight: bold;
}

.order_item_heading > .total {
  margin-left: 20px;
}

.pull-right {
  float: right;
}

.shop_container > .btn {
  margin-top: -30px;
}

.form_label {
  font-weight: bold;
}

.user_details {
  margin-top: 30px;
}

.property_details {
  margin-top: 10px;
}

.fill-page {
  min-height: 50vw;
  margin-bottom: -50px;
  margin-bottom: 70px;
}

.currency_btn {
  color:  #0070BA;
  cursor: pointer;
}

.link_item {
  cursor: pointer;
  text-decoration: underline;
  color: #0070BA;
}

.top_filter {
  margin: 10px 0px;
}

.home.container {
  margin-top: 10px;
}

.property_title {
  color:  #000000;
  font-size: 20px;
  font-weight: bold;
}

.property_title_clickable {
  color:  #0070BA;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

.property_location {
  font-size: 14px !important;
}

.property_card {
  margin: 10px 0px;
}

.room_details {
  margin-top: 10px !important;
}

.room_text {
  color:  #BE5000;
  font-size: 14px;
  margin: 0;
}

.room_desc {
  font-size: 14px;
  color: #808080;
}

.modal-90w {
  max-width: 70% !important;
}

.inline-filter {
  display: inline !important;
  width: unset !important;
  margin: 0px 10px;
}

.filter-icons {
  /*color: #0070BA;*/
  font-size: 20px;
}

.user-alert {
  margin-top: 15px;
  padding: 10px;
  border: 1px solid #820000;
  background-color: #fff3f3;
  color: #820000;
  border-radius: 5px;
}

.user-alert > p {
  margin-bottom: 0;
}

.usr_badge {
  top: -1px;
  position: relative;
}

.usr_badge.gold {
  color: #C9B037;
}

.usr_badge.silver {
  color: #D7D7D7;
}

.usr_badge.bronze {
  color: #6A3805;
}

.usr_rewards {
  font-size: 13px;
  position: relative;
}
video {
  min-width: 100vw;
  min-height: 100vh;
}

.bgnew-light {
  background-color: #f7f7f7 !important;
  -webkit-transition: all 400ms ease-in-out;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 6%);
}

.discounted-price {
  text-decoration-line: line-through;
  text-decoration-style: solid;
  color: #808080;
}

.pricing_display > p {
  margin: 0;
}

.room_filters {
  margin-top: 20px !important;
}
.navbar-brand-logo {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px;
  margin: 0px;
  width: 90px;
  height: 35px;
  cursor: pointer;
}
.book-roomtype {
  font-weight: bold;
  font-size: 13px;
}